<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand"><i class="bi bi-facebook"></i>&nbsp;Facebook</a>

        <div class="nav navbar-nav navbar-right">

            <form class="form-inline">
                <button type="button" class="btn btn-light text-dark" onclick="location.href='@Url.Action("Register")'"> Create new account</button>
            </form>
            &nbsp; &nbsp; &nbsp;
            <form class="form-inline">
                <button type="button" class="btn btn-light text-dark" onclick="location.href='@Url.Action("Login")'"> Login</button>
            </form>
        </div>
    </div>
</nav>
