
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand"><i class="bi bi-facebook"></i>&nbsp;Facebook</a>


        <div class="row nav navbar-nav">
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" style="width:400px" placeholder="Search using email or phone number..">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i>&nbsp;Search</button>
            </form>
        </div>

        @Html.Partial("_RightNavLoginAndLogout")
        
    </div>
</nav>